USE [master]
GO
/****** Object:  Database [db64078]    Script Date: 02/09/2026 11:26:28 ******/
CREATE DATABASE [db64078]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db64078', FILENAME = N'D:\Services\MSSQL\Data\db64078.mdf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db64078_log', FILENAME = N'D:\Services\MSSQL\Data\db64078_log.ldf' , SIZE = 8192KB , MAXSIZE = 5242880KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db64078].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db64078]
GO
/****** Object:  FullTextCatalog [db64078]    Script Date: 02/09/2026 11:26:31 ******/
CREATE FULLTEXT CATALOG [db64078] WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
GO
/****** Object:  Table [dbo].[Asignaturas]    Script Date: 02/09/2026 11:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaturas](
	[IdAsignatura] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Creditos] [int] NOT NULL,
	[IdDocente] [int] NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Asignaturas] PRIMARY KEY CLUSTERED 
(
	[IdAsignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calificaciones]    Script Date: 02/09/2026 11:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificaciones](
	[IdCalificacion] [int] IDENTITY(1,1) NOT NULL,
	[IdInscripcion] [int] NOT NULL,
	[Nota] [decimal](4, 2) NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Calificaciones] PRIMARY KEY CLUSTERED 
(
	[IdCalificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docentes]    Script Date: 02/09/2026 11:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docentes](
	[IdDocente] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Especialidad] [varchar](100) NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Docentes] PRIMARY KEY CLUSTERED 
(
	[IdDocente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 02/09/2026 11:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[IdEstudiante] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Carrera] [varchar](100) NULL,
	[Semestre] [int] NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Estudiantes] PRIMARY KEY CLUSTERED 
(
	[IdEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripciones]    Script Date: 02/09/2026 11:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripciones](
	[IdInscripcion] [int] IDENTITY(1,1) NOT NULL,
	[IdEstudiante] [int] NOT NULL,
	[IdAsignatura] [int] NOT NULL,
	[IdPeriodo] [int] NOT NULL,
	[FechaInscripcion] [datetime2](7) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Inscripciones] PRIMARY KEY CLUSTERED 
(
	[IdInscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Periodos]    Script Date: 02/09/2026 11:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodos](
	[IdPeriodo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Periodos] PRIMARY KEY CLUSTERED 
(
	[IdPeriodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02/09/2026 11:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 02/09/2026 11:26:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Correo] [varchar](150) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[PasswordHash] [varbinary](32) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Asignaturas] ON 

INSERT [dbo].[Asignaturas] ([IdAsignatura], [Nombre], [Codigo], [Creditos], [IdDocente], [Estado]) VALUES (1, N'matematica', N'421', 6, 1, 1)
INSERT [dbo].[Asignaturas] ([IdAsignatura], [Nombre], [Codigo], [Creditos], [IdDocente], [Estado]) VALUES (2, N'Ingles', N'0987', 5, 1, 1)
SET IDENTITY_INSERT [dbo].[Asignaturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Calificaciones] ON 

INSERT [dbo].[Calificaciones] ([IdCalificacion], [IdInscripcion], [Nota], [FechaRegistro]) VALUES (1, 1, CAST(90.00 AS Decimal(4, 2)), CAST(N'2026-08-17T21:54:38.9482901' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Calificaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Docentes] ON 

INSERT [dbo].[Docentes] ([IdDocente], [IdUsuario], [Especialidad], [Estado]) VALUES (1, 3, N'Ingeniero matematico', 1)
INSERT [dbo].[Docentes] ([IdDocente], [IdUsuario], [Especialidad], [Estado]) VALUES (2, 4, N'Gestion', 1)
SET IDENTITY_INSERT [dbo].[Docentes] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudiantes] ON 

INSERT [dbo].[Estudiantes] ([IdEstudiante], [IdUsuario], [Codigo], [Carrera], [Semestre], [Estado]) VALUES (1, 2, N'54321', N'Software', 14, 1)
INSERT [dbo].[Estudiantes] ([IdEstudiante], [IdUsuario], [Codigo], [Carrera], [Semestre], [Estado]) VALUES (2, 5, N'100235', N'Psicologia', 4, 1)
SET IDENTITY_INSERT [dbo].[Estudiantes] OFF
GO
SET IDENTITY_INSERT [dbo].[Inscripciones] ON 

INSERT [dbo].[Inscripciones] ([IdInscripcion], [IdEstudiante], [IdAsignatura], [IdPeriodo], [FechaInscripcion], [Estado]) VALUES (1, 1, 1, 1, CAST(N'2026-08-17T21:54:21.7975917' AS DateTime2), 1)
INSERT [dbo].[Inscripciones] ([IdInscripcion], [IdEstudiante], [IdAsignatura], [IdPeriodo], [FechaInscripcion], [Estado]) VALUES (2, 1, 2, 1, CAST(N'2026-08-21T23:57:27.4220093' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Inscripciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Periodos] ON 

INSERT [dbo].[Periodos] ([IdPeriodo], [Nombre], [FechaInicio], [FechaFin], [Estado]) VALUES (1, N'2026-1', CAST(N'2026-01-15' AS Date), CAST(N'2026-05-15' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Periodos] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [NombreRol], [Descripcion], [Estado]) VALUES (1, N'Administrador', N'Usuario con acceso administrativo al sistema', 1)
INSERT [dbo].[Roles] ([IdRol], [NombreRol], [Descripcion], [Estado]) VALUES (2, N'Docente', N'Usuario encargado de gestionar información académica', 1)
INSERT [dbo].[Roles] ([IdRol], [NombreRol], [Descripcion], [Estado]) VALUES (3, N'Estudiante', N'Usuario que consulta su información académica', 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [Correo], [NombreUsuario], [PasswordHash], [IdRol], [Estado], [FechaCreacion]) VALUES (1, N'Administrador', N'Principal', N'admin@sga.com', N'admin', 0x0A5BC3E342432F1BAD92FFD51B785343EC72906CDBA6A26131060B008E786656, 1, 1, CAST(N'2026-08-17T00:53:21.7632953' AS DateTime2))
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [Correo], [NombreUsuario], [PasswordHash], [IdRol], [Estado], [FechaCreacion]) VALUES (2, N'Bily', N'Geronimo', N'bilygeromimo@gmail.com', N'bilygero', 0x20F3765880A5C269B747E1E906054A4B4A3A991259F1E16B5DDE4742CEC2319A, 3, 1, CAST(N'2026-08-17T16:59:16.6910291' AS DateTime2))
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [Correo], [NombreUsuario], [PasswordHash], [IdRol], [Estado], [FechaCreacion]) VALUES (3, N'Kelvin', N'geronimp', N'kelvingeronimo@gmail.com', N'kelvingero', 0x20F3765880A5C269B747E1E906054A4B4A3A991259F1E16B5DDE4742CEC2319A, 2, 1, CAST(N'2026-08-17T21:53:52.2401441' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Asignaturas_Codigo]    Script Date: 02/09/2026 11:26:38 ******/
ALTER TABLE [dbo].[Asignaturas] ADD  CONSTRAINT [UQ_Asignaturas_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Calificaciones_Inscripcion]    Script Date: 02/09/2026 11:26:38 ******/
ALTER TABLE [dbo].[Calificaciones] ADD  CONSTRAINT [UQ_Calificaciones_Inscripcion] UNIQUE NONCLUSTERED 
(
	[IdInscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Docentes_Usuario]    Script Date: 02/09/2026 11:26:38 ******/
ALTER TABLE [dbo].[Docentes] ADD  CONSTRAINT [UQ_Docentes_Usuario] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Estudiantes_Codigo]    Script Date: 02/09/2026 11:26:38 ******/
ALTER TABLE [dbo].[Estudiantes] ADD  CONSTRAINT [UQ_Estudiantes_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Estudiantes_Usuario]    Script Date: 02/09/2026 11:26:38 ******/
ALTER TABLE [dbo].[Estudiantes] ADD  CONSTRAINT [UQ_Estudiantes_Usuario] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Inscripciones]    Script Date: 02/09/2026 11:26:38 ******/
ALTER TABLE [dbo].[Inscripciones] ADD  CONSTRAINT [UQ_Inscripciones] UNIQUE NONCLUSTERED 
(
	[IdEstudiante] ASC,
	[IdAsignatura] ASC,
	[IdPeriodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inscripciones_Asignatura]    Script Date: 02/09/2026 11:26:38 ******/
CREATE NONCLUSTERED INDEX [IX_Inscripciones_Asignatura] ON [dbo].[Inscripciones]
(
	[IdAsignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inscripciones_Estudiante]    Script Date: 02/09/2026 11:26:39 ******/
CREATE NONCLUSTERED INDEX [IX_Inscripciones_Estudiante] ON [dbo].[Inscripciones]
(
	[IdEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Periodos_Nombre]    Script Date: 02/09/2026 11:26:39 ******/
ALTER TABLE [dbo].[Periodos] ADD  CONSTRAINT [UQ_Periodos_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Roles_Nombre]    Script Date: 02/09/2026 11:26:39 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ_Roles_Nombre] UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_Correo]    Script Date: 02/09/2026 11:26:39 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Correo] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_NombreUsuario]    Script Date: 02/09/2026 11:26:39 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_NombreUsuario] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_IdRol]    Script Date: 02/09/2026 11:26:39 ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_IdRol] ON [dbo].[Usuarios]
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asignaturas] ADD  DEFAULT ((1)) FOR [Creditos]
GO
ALTER TABLE [dbo].[Asignaturas] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Calificaciones] ADD  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Docentes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Estudiantes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Inscripciones] ADD  DEFAULT (sysdatetime()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[Inscripciones] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Periodos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_Asignaturas_Docentes] FOREIGN KEY([IdDocente])
REFERENCES [dbo].[Docentes] ([IdDocente])
GO
ALTER TABLE [dbo].[Asignaturas] CHECK CONSTRAINT [FK_Asignaturas_Docentes]
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Calificaciones_Inscripciones] FOREIGN KEY([IdInscripcion])
REFERENCES [dbo].[Inscripciones] ([IdInscripcion])
GO
ALTER TABLE [dbo].[Calificaciones] CHECK CONSTRAINT [FK_Calificaciones_Inscripciones]
GO
ALTER TABLE [dbo].[Docentes]  WITH CHECK ADD  CONSTRAINT [FK_Docentes_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Docentes] CHECK CONSTRAINT [FK_Docentes_Usuarios]
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_Estudiantes_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Estudiantes] CHECK CONSTRAINT [FK_Estudiantes_Usuarios]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripciones_Asignaturas] FOREIGN KEY([IdAsignatura])
REFERENCES [dbo].[Asignaturas] ([IdAsignatura])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripciones_Asignaturas]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripciones_Estudiantes] FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiantes] ([IdEstudiante])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripciones_Estudiantes]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripciones_Periodos] FOREIGN KEY([IdPeriodo])
REFERENCES [dbo].[Periodos] ([IdPeriodo])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripciones_Periodos]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD  CONSTRAINT [CK_Calificaciones_Nota] CHECK  (([Nota]>=(0) AND [Nota]<=(100)))
GO
ALTER TABLE [dbo].[Calificaciones] CHECK CONSTRAINT [CK_Calificaciones_Nota]
GO
ALTER TABLE [dbo].[Periodos]  WITH CHECK ADD  CONSTRAINT [CK_Periodos_Fechas] CHECK  (([FechaFin]>[FechaInicio]))
GO
ALTER TABLE [dbo].[Periodos] CHECK CONSTRAINT [CK_Periodos_Fechas]
GO
USE [master]
GO
